UL.jd_menu
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    COLOR: #333333;
    PADDING-TOP: 0px;
    HEIGHT: 31px
}
UL.jd_menu_vertical
{
    PADDING-RIGHT: 0px! important;
    PADDING-LEFT: 0px! important;
    PADDING-BOTTOM: 10px! important;
    MARGIN: 0px;
    WIDTH: 175px! important;
    PADDING-TOP: 0px! important;
    LIST-STYLE-TYPE: none
}
UL.jd_menu UL
{
    DISPLAY: none
}
UL.jd_menu_vertical UL
{
    DISPLAY: none
}
UL.jd_menu LI
{
    FLOAT: left;
    TEXT-ALIGN: left
}
UL.jd_menu_vertical
{
}
UL.jd_menu UL
{
    PADDING-RIGHT: 0px;
    DISPLAY: none;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none;
    POSITION: absolute
}
UL.jd_menu_vertical UL
{
    PADDING-RIGHT: 0px;
    DISPLAY: none;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none;
    POSITION: absolute
}
UL.jd_menu UL LI
{
    FLOAT: none;
    MARGIN: 0px
}
UL.jd_menu_vertical UL LI
{
    FLOAT: none;
    MARGIN: 0px
}
UL.jd_menu LI.hDiv
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
UL.jd_menu LI.hDiv:hover
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
UL.jd_menu_vertical
{
    HEIGHT: auto
}
UL.jd_menu UL
{
    HEIGHT: auto
}
 HTML UL.jd_menu UL
{
    WIDTH: 1%
}
UL.jd_menu LI
{
    PADDING-RIGHT: 7px;
    DISPLAY: block;
    PADDING-LEFT: 7px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    MARGIN: 8px 0px 0px;
    CURSOR: pointer;
    COLOR: #fff;
    LINE-HEIGHT: 14px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Tahoma, Trebuchet MS,Arial;
    WHITE-SPACE: nowrap;
    HEIGHT: 13px
}
UL.jd_menu LI LI
{
    DISPLAY: block;
    FONT-WEIGHT: normal;
    WIDTH: 160px;
    COLOR: black;
    BORDER-BOTTOM: #e46803 1px solid;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #fc9741
}
UL.jd_menu LI UL
{
    BORDER-RIGHT: #e46803 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #e46803 1px solid;
    PADDING-LEFT: 0px;
    BACKGROUND: #fc9741;
    PADDING-BOTTOM: 0px;
    MARGIN: 2px 0px 0px;
    BORDER-LEFT: #e46803 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #e46803 1px solid
}
UL.jd_menu LI LI.jdm_hover
{
    DISPLAY: block;
    WIDTH: 160px;
    COLOR: #fc9741;
    BORDER-BOTTOM: #e46803 1px solid;
    BACKGROUND-COLOR: #ffffff
}
UL.jd_menu LI LI.jdm_active
{
    DISPLAY: block;
    WIDTH: 160px;
    COLOR: #fc9741;
    BORDER-BOTTOM: #e46803 1px solid;
    BACKGROUND-COLOR: #ffffff
}
UL.jd_menu_vertical LI LI
{
    DISPLAY: block;
    BACKGROUND: #fc9741;
    WIDTH: 160px;
    HEIGHT: 23px! important
}
UL.jd_menu LI A:hover
{
    COLOR: #ff4203;
    TEXT-DECORATION: none
}
UL.jd_menu_vertical LI LI A
{
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    BACKGROUND: url(../images/nav_active2.jpg) no-repeat left 50%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 140px;
    COLOR: #000;
    PADDING-TOP: 0px;
    HEIGHT: 23px;
    TEXT-DECORATION: none
}
UL.jd_menu_vertical LI LI A:visited
{
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    BACKGROUND: url(../images/nav_active2.jpg) no-repeat left 50%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 140px;
    COLOR: #000;
    PADDING-TOP: 0px;
    HEIGHT: 23px;
    TEXT-DECORATION: none
}
UL.jd_menu_vertical LI LI A:hover
{
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    BACKGROUND: url(../images/nav_hover2.jpg) no-repeat left 50%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 140px;
    COLOR: #ff7009;
    PADDING-TOP: 0px;
    HEIGHT: 25px;
    TEXT-DECORATION: none
}
UL.jd_menu_vertical LI LI A:active
{
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    BACKGROUND: url(../images/nav_hover2.jpg) no-repeat left 50%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 140px;
    COLOR: #ff7009;
    PADDING-TOP: 0px;
    HEIGHT: 25px;
    TEXT-DECORATION: none
}
UL.jd_menu_vertical LI
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px! important;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px! important;
    FLOAT: none;
    PADDING-BOTTOM: 0px! important;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    COLOR: #000! important;
    PADDING-TOP: 0px! important;
    BORDER-BOTTOM: 0px;
    HEIGHT: 25px! important
}
UL.jd_menu_vertical LI.jdm_hover
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px! important;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px! important;
    PADDING-BOTTOM: 0px! important;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    COLOR: #000;
    PADDING-TOP: 0px! important;
    BORDER-BOTTOM: 0px
}
UL.jd_menu_vertical LI.jdm_active
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px! important;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px! important;
    PADDING-BOTTOM: 0px! important;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    COLOR: #000;
    PADDING-TOP: 0px! important;
    BORDER-BOTTOM: 0px
}
UL.jd_menu_vertical LI A
{
    PADDING-RIGHT: 2px! important;
    DISPLAY: block;
    PADDING-LEFT: 20px! important;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BACKGROUND: url(../images/nav_active.jpg) no-repeat left 50%;
    PADDING-BOTTOM: 2px! important;
    MARGIN-LEFT: 8px;
    WIDTH: 155px;
    COLOR: #535353;
    PADDING-TOP: 3px! important;
    HEIGHT: 18px! important;
    TEXT-DECORATION: none
}
UL.jd_menu_vertical LI A:visited
{
    PADDING-RIGHT: 2px! important;
    DISPLAY: block;
    PADDING-LEFT: 20px! important;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BACKGROUND: url(../images/nav_active.jpg) no-repeat left 50%;
    PADDING-BOTTOM: 2px! important;
    MARGIN-LEFT: 8px;
    WIDTH: 155px;
    COLOR: #535353;
    PADDING-TOP: 3px! important;
    HEIGHT: 18px! important;
    TEXT-DECORATION: none
}
UL.jd_menu_vertical LI A:hover
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 2px! important;
    BORDER-TOP: medium none;
    DISPLAY: block;
    PADDING-LEFT: 20px! important;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BACKGROUND: url(../images/nav_hover.jpg) no-repeat left 50%;
    PADDING-BOTTOM: 2px! important;
    MARGIN-LEFT: 8px;
    BORDER-LEFT: medium none;
    WIDTH: 155px;
    COLOR: #ff4203;
    PADDING-TOP: 3px! important;
    BORDER-BOTTOM: medium none;
    HEIGHT: 18px! important;
    TEXT-DECORATION: none
}
UL.jd_menu LI.jdm_hover
{
    PADDING-RIGHT: 7px;
    PADDING-LEFT: 7px;
    PADDING-BOTTOM: 3px;
    COLOR: #ff520a;
    PADDING-TOP: 0px;
    HEIGHT: 20px
}
UL.jd_menu LI.jdm_active
{
    PADDING-RIGHT: 7px;
    PADDING-LEFT: 7px;
    PADDING-BOTTOM: 3px;
    COLOR: #ff520a;
    PADDING-TOP: 0px;
    HEIGHT: 20px
}