@page
@model studentexpat.com.Pages.admin.agreements.CreateModel

<h1>Agreements</h1>
<hr />
<div class="row">
     <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Agreements.SchoolId" class="control-label"></label>
                <select asp-for="Agreements.SchoolId" class ="form-control" asp-items="ViewBag.School"></select>
            </div>
            <div class="form-group">
                <label asp-for="Agreements.Agreement" class="control-label"></label>
                <input asp-for="Agreements.Agreement" class="form-control" />
                <span asp-validation-for="Agreements.Agreement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agreements.SignedOn" class="control-label"></label>
                <input asp-for="Agreements.SignedOn" type="date" class="form-control" />
                <span asp-validation-for="Agreements.SignedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agreements.Attachment" class="control-label"></label>
                <input asp-for="Agreements.Attachment" class="form-control" />
                <span asp-validation-for="Agreements.Attachment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agreements.Warnings" class="control-label"></label>
                <input asp-for="Agreements.Warnings" class="form-control" />
                <span asp-validation-for="Agreements.Warnings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agreements.Comments" class="control-label"></label>
                <input asp-for="Agreements.Comments" class="form-control" />
                <span asp-validation-for="Agreements.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agreements.FollowUp" class="control-label"></label>
                <input asp-for="Agreements.FollowUp" type="date" class="form-control" />
                <span asp-validation-for="Agreements.FollowUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
