@page
@model studentexpat.com.Pages.admin.enrolments.CreateModel

<h1>Enrollments</h1>
<hr />
<div class="row">
     <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Enrollments.StudentId" class="control-label"></label>
                <select asp-for="Enrollments.StudentId" class ="form-control" asp-items="ViewBag.Student"></select>
            </div>
            <div class="form-group">
                <label asp-for="Enrollments.Date" class="control-label"></label>
                <input asp-for="Enrollments.Date"  type="date" class="form-control" />
                <span asp-validation-for="Enrollments.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollments.Tuition" class="control-label"></label>
                <input asp-for="Enrollments.Tuition" class="form-control" />
                <span asp-validation-for="Enrollments.Tuition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollments.Comission" class="control-label"></label>
                <input asp-for="Enrollments.Comission" class="form-control" />
                <span asp-validation-for="Enrollments.Comission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollments.ProgramId" class="control-label"></label>
                <select asp-for="Enrollments.ProgramId" class ="form-control" asp-items="ViewBag.Program"></select>
            </div>
            <div class="form-group">
                <label asp-for="Enrollments.Comments" class="control-label"></label>
                <input asp-for="Enrollments.Comments" class="form-control" />
                <span asp-validation-for="Enrollments.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollments.Followup" class="control-label"></label>
                <input asp-for="Enrollments.Followup" type="date" class="form-control" />
                <span asp-validation-for="Enrollments.Followup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollments.Agent" class="control-label"></label>
                <input asp-for="Enrollments.Agent" class="form-control" />
                <span asp-validation-for="Enrollments.Agent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollments.DatePaid" class="control-label"></label>
                <input asp-for="Enrollments.DatePaid" type="date" class="form-control" />
                <span asp-validation-for="Enrollments.DatePaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
